<<<<<<< HEAD
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

body {
/* 	font-family: Arial, Helvetica, sans-serif !important; */
 	  height: auto;
  font-weight: 500;
   font-family: raleway, arial, sans-serif;
/*   background: -webkit-linear-gradient(315deg, #8254EA 0%, #E86DEC 100%); */
/*   background: linear-gradient(135deg, #8254EA 0%, #E86DEC 100%); */
     background:  #eff2f7;
  -webkit-font-smoothing: antialiased;
   font-size: 12px;
}

#welcomeMsg{
	margin: 0px 0px 0 288px;
   /*  width: 100%; */
    float: left;
    font-size: 30px;
}

button#welcomeBtn {
	margin: 32px 0 0 560px;
	/*     min-width: 155px;
     width: 140px; */
}

.custom-panel
{
   /*  text-align: center; */
    background-position: center center;
    background: rgb(68, 76, 87);
    color: white;
}

#msgCentre {
	position: relative;
	top: 270px;
}

#left_nav
{
/* 	border: 1px solid black; */
	height: 120vh;
	background-color: #fff;
    box-shadow: 8px 0px 10px #cfcfcf;
}
#right_nav {
/* 	border: 1px solid black; */
	height: 120vh;
	padding-right: 0px;
    padding-left: 0px;
}

.left_nav_icons {
	float: left;
	width: 100%;
	margin: 54px 0 14px 0px;
}

#searchBar {
	background-color: #05146e;
	height: 10vh;
	margin: -35px 0 0 0;
}
#searchTextP
{
	margin: 8px 0 0 20px;
    position: relative;
    top: 24px;
    width: 500px;
}

#statsBar {
	background-color: #012989;
	height: 20vh;
}

#card_inner {
	background-color: white;
	margin: auto;
	/* border-radius: 3px; */
	transition: .3s ease;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#searchIcon {
	width: 20px;
	height: 20px;
	margin: 11px 0px 0px 5px;
}

.carddemoBasicUsage .card-media {
	background-color: #999999;
}

.unitrack_card_size {
	width: 48%;
}

#unitrack_header md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar)
{
	background-color: transparent;
    color: black;
}
#unitrack_logo_size {
/* 	width: 100px;
	margin: 34px 0 10px 1px; */
}

#unitrack_user {
	float: right;
	color: #fff;
	font-size: 22px;
	margin: 7px 10px 0 0px;
}

md-card.md-default-theme, md-card
{
	border-radius: 8px !important;
}

#header {
	width: 100%;
}

#unitrack_logo_icon {
	margin: 0 0 0 0;
	position: relative;
	bottom: 5px;
	color: #fff;
}

#unitrack_user_name {
	float: right;
	color: #eff4fa;
	font-size: 16px;
	margin: 6px 20px 0px 4px;
}

/* Menu Styling Starts */

body .menu_wrapper {
	width: 225px;
	height: auto;
	overflow: hidden;
	border-radius: 4px;
	/*   background: #2a394f; */
	margin: 14px 0 0 0px;
	float: left;
}

body .menu_wrapper label {
	padding: 28px;
	float: left;
	height: 72px;
	/*   border-bottom: 1px solid #293649; */
	position: relative;
	width: 80%;
	color: #eff4fa;
	-webkit-transition: text-indent .15s, height .3s;
	transition: text-indent .15s, height .3s;
	box-sizing: border-box;
}

body .menu_wrapper label img {
	margin-right: 10px;
	position: relative;
	top: 2px;
	width: 16px;
}

body .menu_wrapper label span {
	position: relative;
/* 	top: -3px; */
}

body .menu_wrapper label:hover {
	background: #edd46b;
	/*   border-bottom: 1px solid #b498f2; */
	text-indent: 6px;
	color: #293649;
	border-radius: 14px;
}

body .menu_wrapper__content {
  position: absolute;
  display: none;
  overflow: hidden;
  left: 0;
  width: 100%;
}
body .menu_wrapper__content li {
  width: 100%;
  opacity: 0;
  left: -100%;
  background: #15a4fa;
  padding: 25px 0px;
  text-indent: 25px;
  box-shadow: 0px 0px #126CA1  inset;
  -webkit-transition: box-shadow .3s,text-indent .3s;
  transition: box-shadow .3s,text-indent .3s;
  position: relative;
}
body .menu_wrapper__content li:hover {
  background: #0c93e4;
  box-shadow: 3px 0px #126CA1  inset;
  -webkit-transition: box-shadow .3s linear,text-indent .3s linear;
  transition: box-shadow .3s linear,text-indent .3s linear;
  text-indent: 31px;
}
body .menu_wrapper__content .clear {
  clear: both;
}

#menu_icons
{
    margin-right: 10px;
    position: relative;
    top: 2px;
    width: 16px;
    font-size: 25px;
    color: #a6a6a6;
    -webkit-text-fill-color: #00b9f5;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

label {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

body .swanky {
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

body .menu_wrapper label:after {
	content: '';
	display: block;
	position: absolute;
	height: 16px;
	top: 29px;
	left: 18px;
	border: 1px solid white;
}

/* Menu Styling Ends */
.card {
    width: 530px;
    padding: 0px 0px 0px 6px;
    background: yellow;
    margin: auto;
    /* border-radius: 10px; */
    transition: .3s ease;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    margin: 62px 0 0 104px;
}
.card:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  transform: translateY(-10px) scale(1.02);
}
.card:hover .entry-title {
  background-position: -100% 0;
}

.entry-title {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #16a085 50%);
  background-size: 200%;
  background-position: 0 0;
  display: inline;
  transition: .5s ease-in-out;
  font-family: raleway, arial, sans-serif;
  text-transform: uppercase;
}
.entry-title a {
  color: white;
  text-decoration: none;
}

small {
  margin-top: 20px;
  display: block;
  font-family: raleway, arial, sans-serif;
  color: white;
  text-transform: uppercase;
}
small a {
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.card_tags
{
	 width: 5px;
    height: 240px;
    float: left;
    background-color: black;
/*     border: 1px solid black; */
}
.card_spacing
{
	    padding: 40px 0 40px 0;
}
/* Progress */

.inliner {
  height: 100%;
}

.inliner,
.inliner + .inlined {
  display: inline-block;
  vertical-align: middle;
}

.inlined {
  width: 90%;
}

/**
 * Component styles
 */
.progress-meter {
/*   margin: 20px auto 40px;
  padding: 40px; */
    margin: 37px 0px 46px;
    padding: 0 0px 0px 34px;
}

.progress-meter {
  counter-reset: point;
}
.progress-meter .progress-point:before {
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    -moz-box-shadow: 0 0 0 2px white;
    -webkit-box-shadow: 0 0 0 2px white;
    box-shadow: 0 0 0 2px white;
    content: "\2713";
    display: block;
    width: 15px;
    height: 15px;
    margin: 4px auto 0;
    border: 2px solid #3d70b2;
    text-align: center;
    background-color: white;
    color: white;
    font-size: 8px;
    font-weight: bold;
}
.progress-meter .track {
  position: relative;
  height: 4px;
  background: #ddd;
}
.progress-meter .progress {
  -moz-transition: width 1s;
  -o-transition: width 1s;
  -webkit-transition: width 1s;
  transition: width 1s;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 4px;
  background: #3d70b2;
}
.progress-meter .progress-points {
  position: relative;
  margin: -14px 0 0;
  padding: 0;
  list-style: none;
}
.progress-meter .progress-points .progress-point:nth-child(1) {
  left: 0%;
}
.progress-meter .progress-points .progress-point:nth-child(2) {
  left: 25%;
}
.progress-meter .progress-points .progress-point:nth-child(3) {
  left: 50%;
}
.progress-meter .progress-points .progress-point:nth-child(4) {
  left: 75%;
}
.progress-meter .progress-points .progress-point:nth-child(5) {
  left: 100%;
}
.progress-meter .progress-point {
  -moz-transition: color 1s;
  -o-transition: color 1s;
  -webkit-transition: color 1s;
  transition: color 1s;
  position: absolute;
  display: block;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  cursor: pointer;
  color: #3d70b2;
}
.progress-meter .progress-point.completed, .progress-meter .progress-point.active {
  color: #3d70b2;
}
.progress-meter .progress-point.completed:before {
  border-color: #3d70b2;
  background-color: #3d70b2;
}
.progress-meter .progress-point.active:before {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  border-color: #3d70b2;
}
.progress-meter .progress-point .label:before {
  counter-increment: point;
  content: counter(point) ". ";
  /* Display the counter */
}

/**
 * Demo controls 
 */
.controls {
  text-align: center;
  font-size: 12px;
}

.trigger {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 8px;
  border: none;
  font: 14px inherit;
  text-shadow: 0px 1px 1px rgba(251, 251, 251, 0.75);
  color: #626262;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk1OTU5NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bbbbbb), color-stop(100%, #959595));
  background-image: -moz-linear-gradient(#bbbbbb, #959595);
  background-image: -webkit-linear-gradient(#bbbbbb, #959595);
  background-image: linear-gradient(#bbbbbb, #959595);
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.cardLabel
{
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    /* font-weight: 700; */
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.innerCircle
{
	font-size: 56px;
    margin: 12px 14px 0px 0px;
    float: right;
    color: #3d70b2;
}
.imageCard
{
	font-size: 15px;
    margin: 31px -32px 0px 0px;
    float: right;
    color: #3d70b2;
}
#cardButton
{
	margin: -118px 0 0px 12px !important;
}
#iconSize
{
	width: 100%;
	height: 26px;
	margin: 0;
	
}
#iconText
{
	color: #adadad;
    margin: 7px 0 0 20px;
}
#iconText:hover
{
	color: #05146e;
    margin: 7px 0 0 20px;
}
#iconText2
{
	color: #adadad;
    margin: 7px 0 0 29px;
}
#iconText2:hover
{
	color: #05146e;
    margin: 7px 0 0 29px;
}
#iconText3
{
	color: #adadad;
    margin: 7px 0 0 24px;
}
#iconText3:hover
{
	color: #05146e;
    margin: 7px 0 0 24px;
}
#iconText4
{
	color: #adadad;
    margin: 7px 0 0 35px;
}
#iconText4:hover
{
	color: #05146e;
    margin: 7px 0 0 35px;
}
#iconText5
{
	color: #adadad;
    margin: 7px 0 0 24px;
}
#iconText5:hover
{
	color: #05146e;
    margin: 7px 0 0 24px;
}
#item_search {
	color: #505a99;
	font-size: 16px;
	letter-spacing: 3px;
}

#searchText
{
	margin: -23px 0 0 37px;
}

#searchText label
{
	color: white !important;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 100;
}

#searchText.md-default-theme .md-input, #searchText .md-input
{
	color: #fff;
    border-color: transparent;
    font-size: 14px;
}
.vl
{
	border-left: 4px solid #111f75;
    height: 55px;
    float: right;
    margin: -54px 628px 0 0px;
}

.vl2
{
	border-left: 4px solid #111f75;
    height: 55px;
	float: right;
	margin: -54px -128px 0 0px;
}

#notificationIcon {
	width: 33px;
	height: 24px;
	float: right;
	margin: -40px -78px 0px 0px;
}

.filterOptions {
	width: 100%;
	float: right;
	height: 21px;
	padding: 0px 129px 0px 28px;
}

#details {
	margin: -31px 0 0 21px;
}

#d1 {
	font-size: 20px;
	font-weight: 100;
	padding: 0 0 0 16px;
}

#d2 {
	font-size: 13px;
	font-weight: 100;
	padding: 0 0 0 16px;
}

#d3 {
	font-size: 13px;
	font-weight: 100;
	padding: 0 0 0 16px;
}

#d4 {
	font-size: 13px;
	font-weight: 100;
	padding: 0 0 0 16px;
=======
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,300);

body {
/* 	font-family: Arial, Helvetica, sans-serif !important; */
 	  height: auto;
  font-weight: 500;
   font-family: raleway, arial, sans-serif;
/*   background: -webkit-linear-gradient(315deg, #8254EA 0%, #E86DEC 100%); */
/*   background: linear-gradient(135deg, #8254EA 0%, #E86DEC 100%); */
     background:  #eff2f7;
  -webkit-font-smoothing: antialiased;
   font-size: 12px;
}

#welcomeMsg{
	margin: 0px 0px 0 288px;
   /*  width: 100%; */
    float: left;
    font-size: 30px;
}

button#welcomeBtn {
	margin: 32px 0 0 560px;
	/*     min-width: 155px;
     width: 140px; */
}

.custom-panel
{
   /*  text-align: center; */
    background-position: center center;
    background: rgb(68, 76, 87);
    color: white;
}

#msgCentre {
	position: relative;
	top: 270px;
}

#left_nav
{
/* 	border: 1px solid black; */
	height: 120vh;
	background-color: #fff;
    box-shadow: 8px 0px 10px #cfcfcf;
}
#right_nav {
/* 	border: 1px solid black; */
	height: 120vh;
	padding-right: 0px;
    padding-left: 0px;
}

.left_nav_icons {
	float: left;
	width: 100%;
	margin: 54px 0 14px 0px;
}

#searchBar {
	background-color: #05146e;
	height: 10vh;
	margin: -35px 0 0 0;
}
#searchTextP
{
	margin: 8px 0 0 20px;
    position: relative;
    top: 24px;
    width: 500px;
}

#statsBar {
	background-color: #012989;
	height: 20vh;
}

#card_inner {
	background-color: white;
	margin: auto;
	/* border-radius: 3px; */
	transition: .3s ease;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#searchIcon {
	width: 20px;
	height: 20px;
	margin: 11px 0px 0px 5px;
}

.carddemoBasicUsage .card-media {
	background-color: #999999;
}

.unitrack_card_size {
	width: 48%;
}

#unitrack_header md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar)
{
	background-color: transparent;
    color: black;
}
#unitrack_logo_size {
/* 	width: 100px;
	margin: 34px 0 10px 1px; */
}

#unitrack_user {
	float: right;
	color: #fff;
	font-size: 22px;
	margin: 7px 10px 0 0px;
}

md-card.md-default-theme, md-card
{
	border-radius: 8px !important;
}

#header {
	width: 100%;
}

#unitrack_logo_icon {
	margin: 0 0 0 0;
	position: relative;
	bottom: 5px;
	color: #fff;
}

#unitrack_user_name {
	float: right;
	color: #eff4fa;
	font-size: 16px;
	margin: 6px 20px 0px 4px;
}

/* Menu Styling Starts */

body .menu_wrapper {
	width: 225px;
	height: auto;
	overflow: hidden;
	border-radius: 4px;
	/*   background: #2a394f; */
	margin: 14px 0 0 0px;
	float: left;
}

body .menu_wrapper label {
	padding: 28px;
	float: left;
	height: 72px;
	/*   border-bottom: 1px solid #293649; */
	position: relative;
	width: 80%;
	color: #eff4fa;
	-webkit-transition: text-indent .15s, height .3s;
	transition: text-indent .15s, height .3s;
	box-sizing: border-box;
}

body .menu_wrapper label img {
	margin-right: 10px;
	position: relative;
	top: 2px;
	width: 16px;
}

body .menu_wrapper label span {
	position: relative;
/* 	top: -3px; */
}

body .menu_wrapper label:hover {
	background: #edd46b;
	/*   border-bottom: 1px solid #b498f2; */
	text-indent: 6px;
	color: #293649;
	border-radius: 14px;
}

body .menu_wrapper__content {
  position: absolute;
  display: none;
  overflow: hidden;
  left: 0;
  width: 100%;
}
body .menu_wrapper__content li {
  width: 100%;
  opacity: 0;
  left: -100%;
  background: #15a4fa;
  padding: 25px 0px;
  text-indent: 25px;
  box-shadow: 0px 0px #126CA1  inset;
  -webkit-transition: box-shadow .3s,text-indent .3s;
  transition: box-shadow .3s,text-indent .3s;
  position: relative;
}
body .menu_wrapper__content li:hover {
  background: #0c93e4;
  box-shadow: 3px 0px #126CA1  inset;
  -webkit-transition: box-shadow .3s linear,text-indent .3s linear;
  transition: box-shadow .3s linear,text-indent .3s linear;
  text-indent: 31px;
}
body .menu_wrapper__content .clear {
  clear: both;
}

#menu_icons
{
    margin-right: 10px;
    position: relative;
    top: 2px;
    width: 16px;
    font-size: 25px;
    color: #a6a6a6;
    -webkit-text-fill-color: #00b9f5;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

label {
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}

body .swanky {
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

body .menu_wrapper label:after {
	content: '';
	display: block;
	position: absolute;
	height: 16px;
	top: 29px;
	left: 18px;
	border: 1px solid white;
}

/* Menu Styling Ends */
.card {
    width: 530px;
    padding: 0px 0px 0px 6px;
    background: yellow;
    margin: auto;
    /* border-radius: 10px; */
    transition: .3s ease;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    margin: 62px 0 0 104px;
}
.card:hover {
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.8);
  transform: translateY(-10px) scale(1.02);
}
.card:hover .entry-title {
  background-position: -100% 0;
}

.entry-title {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 50%, #16a085 50%);
  background-size: 200%;
  background-position: 0 0;
  display: inline;
  transition: .5s ease-in-out;
  font-family: raleway, arial, sans-serif;
  text-transform: uppercase;
}
.entry-title a {
  color: white;
  text-decoration: none;
}

small {
  margin-top: 20px;
  display: block;
  font-family: raleway, arial, sans-serif;
  color: white;
  text-transform: uppercase;
}
small a {
  font-weight: 700;
  color: white;
  text-decoration: none;
}
.card_tags
{
	 width: 5px;
    height: 240px;
    float: left;
    background-color: black;
/*     border: 1px solid black; */
}
.card_spacing
{
	    padding: 40px 0 40px 0;
}
/* Progress */

.inliner {
  height: 100%;
}

.inliner,
.inliner + .inlined {
  display: inline-block;
  vertical-align: middle;
}

.inlined {
  width: 90%;
}

/**
 * Component styles
 */
.progress-meter {
/*   margin: 20px auto 40px;
  padding: 40px; */
    margin: 37px 0px 46px;
    padding: 0 0px 0px 34px;
}

.progress-meter {
  counter-reset: point;
}
.progress-meter .progress-point:before {
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
    transition: all 1s;
    -moz-border-radius: 24px;
    -webkit-border-radius: 24px;
    border-radius: 24px;
    -moz-box-shadow: 0 0 0 2px white;
    -webkit-box-shadow: 0 0 0 2px white;
    box-shadow: 0 0 0 2px white;
    content: "\2713";
    display: block;
    width: 15px;
    height: 15px;
    margin: 4px auto 0;
    border: 2px solid #3d70b2;
    text-align: center;
    background-color: white;
    color: white;
    font-size: 8px;
    font-weight: bold;
}
.progress-meter .track {
  position: relative;
  height: 4px;
  background: #ddd;
}
.progress-meter .progress {
  -moz-transition: width 1s;
  -o-transition: width 1s;
  -webkit-transition: width 1s;
  transition: width 1s;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 4px;
  background: #3d70b2;
}
.progress-meter .progress-points {
  position: relative;
  margin: -14px 0 0;
  padding: 0;
  list-style: none;
}
.progress-meter .progress-points .progress-point:nth-child(1) {
  left: 0%;
}
.progress-meter .progress-points .progress-point:nth-child(2) {
  left: 25%;
}
.progress-meter .progress-points .progress-point:nth-child(3) {
  left: 50%;
}
.progress-meter .progress-points .progress-point:nth-child(4) {
  left: 75%;
}
.progress-meter .progress-points .progress-point:nth-child(5) {
  left: 100%;
}
.progress-meter .progress-point {
  -moz-transition: color 1s;
  -o-transition: color 1s;
  -webkit-transition: color 1s;
  transition: color 1s;
  position: absolute;
  display: block;
  width: 100px;
  margin-left: -50px;
  text-align: center;
  cursor: pointer;
  color: #3d70b2;
}
.progress-meter .progress-point.completed, .progress-meter .progress-point.active {
  color: #3d70b2;
}
.progress-meter .progress-point.completed:before {
  border-color: #3d70b2;
  background-color: #3d70b2;
}
.progress-meter .progress-point.active:before {
  -moz-transition-delay: 1s;
  -o-transition-delay: 1s;
  -webkit-transition-delay: 1s;
  transition-delay: 1s;
  border-color: #3d70b2;
}
.progress-meter .progress-point .label:before {
  counter-increment: point;
  content: counter(point) ". ";
  /* Display the counter */
}

/**
 * Demo controls 
 */
.controls {
  text-align: center;
  font-size: 12px;
}

.trigger {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 6px 8px;
  border: none;
  font: 14px inherit;
  text-shadow: 0px 1px 1px rgba(251, 251, 251, 0.75);
  color: #626262;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JiYmJiYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzk1OTU5NSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bbbbbb), color-stop(100%, #959595));
  background-image: -moz-linear-gradient(#bbbbbb, #959595);
  background-image: -webkit-linear-gradient(#bbbbbb, #959595);
  background-image: linear-gradient(#bbbbbb, #959595);
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.cardLabel
{
	display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    /* font-weight: 700; */
    line-height: 1;
    color: black;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.innerCircle
{
	font-size: 56px;
    margin: 12px 14px 0px 0px;
    float: right;
    color: #3d70b2;
}
.imageCard
{
	font-size: 15px;
    margin: 31px -32px 0px 0px;
    float: right;
    color: #3d70b2;
}
#cardButton
{
	margin: -118px 0 0px 12px !important;
}
#iconSize
{
	width: 100%;
	height: 26px;
	margin: 0;
	
}
#iconText
{
	color: #adadad;
    margin: 7px 0 0 20px;
}
#iconText:hover
{
	color: #05146e;
    margin: 7px 0 0 20px;
}
#iconText2
{
	color: #adadad;
    margin: 7px 0 0 29px;
}
#iconText2:hover
{
	color: #05146e;
    margin: 7px 0 0 29px;
}
#iconText3
{
	color: #adadad;
    margin: 7px 0 0 24px;
}
#iconText3:hover
{
	color: #05146e;
    margin: 7px 0 0 24px;
}
#iconText4
{
	color: #adadad;
    margin: 7px 0 0 35px;
}
#iconText4:hover
{
	color: #05146e;
    margin: 7px 0 0 35px;
}
#iconText5
{
	color: #adadad;
    margin: 7px 0 0 24px;
}
#iconText5:hover
{
	color: #05146e;
    margin: 7px 0 0 24px;
}
#item_search {
	color: #505a99;
	font-size: 16px;
	letter-spacing: 3px;
}

#searchText
{
	margin: -23px 0 0 37px;
}

#searchText label
{
	color: white !important;
    letter-spacing: 3px;
    font-size: 14px;
    font-weight: 100;
}

#searchText.md-default-theme .md-input, #searchText .md-input
{
	color: #fff;
    border-color: transparent;
    font-size: 14px;
}
.vl
{
	border-left: 4px solid #111f75;
    height: 55px;
    float: right;
    margin: -54px 628px 0 0px;
}

.vl2
{
	border-left: 4px solid #111f75;
    height: 55px;
	float: right;
	margin: -54px -128px 0 0px;
}

#notificationIcon {
	width: 33px;
	height: 24px;
	float: right;
	margin: -40px -78px 0px 0px;
}

.filterOptions {
	width: 100%;
	float: right;
	height: 21px;
	padding: 0px 129px 0px 28px;
}

#details {
	margin: -31px 0 0 21px;
}

#d1 {
	font-size: 20px;
	font-weight: 100;
	padding: 0 0 0 16px;
}

#d2 {
	font-size: 13px;
	font-weight: 100;
	padding: 0 0 0 16px;
}

#d3 {
	font-size: 13px;
	font-weight: 100;
	padding: 0 0 0 16px;
}

#d4 {
	font-size: 13px;
	font-weight: 100;
	padding: 0 0 0 16px;
>>>>>>> a4d1fc1f903885dbdb05057f38270cc719741308
}